<html lang="en" id="home">
    <head>
      <link rel="icon" type="image/png" href="icon.jpg" sizes="32x32" />
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>web1</title>
      <script src="ajax.js"></script>
      <link rel="stylesheet" href="startcss.css">
      
      <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="my-jquery.js"></script>
      
    </head>
    <body  ng-app="myapp" ng-controller="myCtrl">

      <div class="toolbar" ><a href="/">
        <p class="toolicon">Home</p></a>
        <p class="profile">Hello  {{firstname+" "+lastname}}</p>

       <a href="/log-out">
        <button type="submit" class="sign-in">Log Out</button></a>
        <i class="material-icons" style="  color: rgb(243, 240, 240);position: absolute; top: 7px;
        right: 25px;
        z-index: 1;">login</i>
       </div>
  <script src="angular.js">
 </script>
<div class="feature"></div>
    
   

<div class="data">
<div class='box' ng-repeat="x in k" >
<h2>{{x.name}}</h2>  
<ul   >
    
    <span class="material-icons" id="box_other" ng-click="show3(x.id)" >view_headline</span>
    <ul class="sub_menu" ng-show="showme[x.id]">
  <ul><button class="c-button1" ng-click="update(x.id)" >Update</button></ul>
  <ul><button class="c-button1" ng-click="delete(x.id)" >Delete</button></ul>
  <ul><button class="c-button1" ng-click="show4(x.id)" >Send</button>
  <ul class="sub_menu2" ng-show="show_send[x.id]">
    <input id="add_mail" type="email" placeholder="gmail.com" name="to_mail"ng-model="mail"> 
    <button type="submit" class="c_button1" ng-click="send(x.id)">Send</button>
  </ul>
  </ul>
</ul> 
</ul>
<p>{{x.data}}</p> 
<div class="down-line">
<p class="design-circle"></p> </div>
</div>

<div class="box">
<span class="material-icons" id="add-one" >note_add</span>
<form action="/form" method="get">
    <input class="add-name" id="fn" name="name" placeholder="Name">
    <textarea class="add-data" id="fd" name="data" value="good" placeholder="Enter the data....."></textarea>
    <button class="add-send" type="submit" >
      <i class="material-icons">send</i>
      </button>
</form>

<div class="down-line">
<p class="design-circle"></p> </div>
</div>

<div class="box" ng-show="ushow" id="ubox">
<span class="material-icons" id="add-one" >note_add</span>
    <input class="add-name" id="fn" name="name" placeholder="Update Name" ng-model="uname">
    <textarea class="add-data" id="fd" name="data" value="good" placeholder="Update data....." ng-model="udata"></textarea>
    <button class="add-send" type="submit" ng-click="usubmit(uid)">
      <i class="material-icons">send</i>
      </button>

<div class="down-line">
<p class="design-circle"></p> </div>
</div>
</div>
<div class="data">
  <div class='box' ng-repeat="x in sends" >
    <h3>{{x.from.name}}</h3>
    <h2>{{x.name}}</h2>  
   
    <p>{{x.data}}</p> 
    <div class="down-line">
    <p class="design-circle"></p> </div>
    </div>
</div>
</body>
<footer class="last-feed" >
    <button class="c-button1" onclick="show_feed()">feedback</button>

    <form class="feedback"style="display: none;" method="get" action="/feedback">
      <label for="feed"></label>
      
    <textarea type="input" id="feed" class="feed_input" name="feedback" placeholder="Write feedback"></textarea>
    <button class="feed_submit" type="submit">submit</button>
    
</form>
<script>
    function show_feed(){
      
var a= document.querySelector('.feedback').style.display;
if(a=='none'){
  document.querySelector('.feedback').style.display='block';
}
else{
  document.querySelector('.feedback').style.display='none';
}
}
</script>
</footer>
    
</html>